:root {
  --white: #fff;
  --gray: #f6f6f6;
  --green: #3bba9c;
  --dark: #2e3047;
}

input,
select {
  padding: 8px;
}
.filter-box {
  background-color: var(--dark);
  padding: 8px;
  margin-bottom: 8px;
  color: #FFF;
}
/* table */
thead th,
tfoot th {
  font-family: 'Tahoma', cursive;
  padding: 12px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

thead {
  background-color: var(--dark);
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
  padding: 12px;
}

td {
  letter-spacing: 1px;
  padding: 8px;
}

tbody td:first-child {
  text-align: left;
}

tfoot th {
  text-align: right;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

tbody tr:nth-child(even) {
  background-color: white;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 20em;
  min-width: 8em;
}

tbody tr:hover {
  background-color: var(--green) !important;
}

.filter-city input {
  width: 100%;
  margin-bottom: 12px;
}

.selectedFilters {
  background-color: var(--gray);
  margin-bottom: 12px;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
  flex-wrap: wrap;
  font-size: 0.9em;
}

.selectedFilters button {
  color: red;
  background-color: rgb(244, 217, 217);
  font-family: 'arial black';
  border: none;
  margin-right: 8px;
  border-radius: 2px;
}

.buttons button {
  margin-top: 12px;
  margin-right: 12px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.add {
  background-color: var(--green);
  color: white;
  font-weight: bold;
}

.add:active {
  box-shadow: 0px 1px 2px 2px var(--green);
}

.clear {
  background-color: tomato;
  color: white;
  font-weight: bold;
}
.clear:active {
  box-shadow: 0px 1px 2px 2px tomato;
}
