* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 12px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}

select,
option,
input {
  font-size: 16px;
  padding: 4px;
  margin-right: 8px;
}

.header-info {
  font-size: 12px;
}

.header-info span {
  color: red;
  font-size: 12px;
  width: 55px;
  display: inline-block;
}

.header-info p {
  line-height: 0.7em;
}

@media screen and (max-width: 640px) {
  input,
  select {
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }
}
